@font-face {
    font-family: 'LiShu';
    src: url('./SIMLI.TTF');
}
@font-face {
    font-family: 'KaiTi';
    src: url('./simkai.ttf');
}
@font-face {
    font-family: 'SongTi';
    src: url('./simsun.ttc');
}