@font-face {
    font-family: 'LiShu';
    src: url('./SIMLI.TTF');
}
@font-face {
    font-family: 'KaiTi';
    src: url('./FangZhengKaiTiFanTi-1.ttf');
}
@font-face {
    font-family: 'SongTi';
    src: url('./simsun.ttc');
}
@font-face {
    font-family: 'YaHei';
    src: url('./msyh.ttf');
}
@font-face {
    font-family: 'HeiTi';
    src: url('./simhei.ttf');
}