// theme colors
$PrimaryRed: #ea4335;
$SecondaryYellow: #ffd111;
$SuccessGreen: #34a853;
$NeutralDark: #322f3b;
$NeutralLight: #a9a9a9;



html,
body {
    margin: 0;
    padding: 0;
    // background: url("../images/all-background2.jpg") 100% 100%;
    background: #fcfafa;
    font-size: 1.7rem;
    color: $NeutralDark;
}

.home-container {
    max-width: 1920px;
    margin: 0 auto;
}

ul li {
    list-style: none
}

a {
	text-decoration: none;
	outline: none;
	color: #333333;
}
a:hover {
    text-decoration: none;
	outline: none;
    color: #333333;
}

@media (min-width: 0) {
    html {
        font-size: 0.5rem;
    }
}

@media (min-width: 328px) {
    html {
        font-size: 0.6rem;
    }
}

@media (min-width: 576px) {
    html {
        font-size: 0.7rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 0.8rem;
    }
}

@media (min-width: 992px) {
    html {
        font-size: 0.9rem;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 1rem;
    }
}