// 主色
$main-color: #2b85c3;
$light-main-color: #6dabdd;
$bg-main-color: #c2def8;
// 点缀色
$adorn-color: #ee7a47;
$light-adorn-color: #f5ac70;

// 辅助色
$sub-color: #f6f9fd;

// 文字颜色
$main-text-color: #231815;
$normal-text-color: #3e3a39;
$secondary-text-color: #595757;
$sub-text-color: #6dabdd;

// 阴影颜色
$shadow-color: #c8ccd4;